		    a{
		    	text-decoration: none;
		    }
			#rFixedBar{
				position: fixed;
				right: 0px;
				top: 50%;	
				z-index: 1999;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-moz-transform: translateY(-50%);			
			}
			.rFixedBar-item{
				position: relative;
				width: 35px;
				height: 35px;
				margin-bottom: 1px;
				cursor: pointer;
				z-index:666;
			}
			.rFixedBar-icon{
				position: relative;
				display: block;
				border-radius: 4px 0 0 4px;
				z-index: 2;
				width: 35px;
				height: 35px;
				background: #666;
				line-height: 35px;
				text-align: center;				
			}
			.rFixedBar-name{
				z-index: 1;
				display: block;
				position: absolute;
				left: 35px;
				top: 0;
				color: white;
				background-color: #c81623;
				width: 118px;
				height: 35px;
				font-size: 14px;
				border-radius: 4px;
				line-height: 35px;
				padding-left: 8px;
				text-align: center;
				transition: left .2s ease-in-out .1s;
			}
			.rFixedBar-item:hover .rFixedBar-name{
				/*background: #C81623;*/
				left: -112px;								
			}
			.rFixedBar-item:hover .rFixedBar-icon{
				background: #C81623;
			}