        body{
            padding: 0;
            margin: 0;
            text-align: center;
        }
        .h5_page{
            background-image: url("../imgs/page_bg.png");
        }
        @media only screen and (min-width:600px ) {
        	.h5_page{
        		max-width: 400px;
        		margin-left: 300px;
        	}

        }
        @media only screen and (max-width:599px ) {
        	.h5_page{
        		width: 100%;
        	}
        	#erwei{
        		display: none;
        	}
        	#rFixedBar{
        		display: none;
        	}
        }
        .h5_page_face{
            background-image: url("../imgs/face_bg.png");
        }
        .h5_component_name_slogan{
            -webkit-animation: rocket 2s infinite 2s ;
        }
        @-webkit-keyframes rocket {
            0%{transform: rotate(0deg)}
            5%{transform: rotate(3deg)}
            10%{transform: rotate(-4deg)}
            15%{transform: rotate(3deg)}
            20%{transform: rotate(-2deg)}
            25%{transform: rotate(1deg)}
            30%{transform: rotate(-1deg)}
            70%{transform: rotate(0deg)}
            100%{transform: rotate(0deg)}
        }
        .h5_component_name_caption{
            background-image: url("imgs/page_caption_bg.png");
            width: 283px;
            height: 160px;
            text-align: center;
            line-height: 140px;
            font-size:20px ;
             color: rgb(255,0,0);
        }
        .h5_component_name_back{
            top: 20px;
            -webkit-animation: back1 2s infinite 2s ;
        }
        @-webkit-keyframes back1 {
            50%{top:40px;}
         }         
		#erwei{
			width: 120px;
			height: 140px;
			position: fixed;
			left: 730px;
			top: 120px;			
		}
		#erwei img{
			width: 120px;
			height: 130px;
		}
		#erwei p{
			margin: 0;
			padding:5px 0 0 0;
			text-align: center;
			color: #333;
		}



